# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled C extensions
*.so

# Ignore distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignore unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
*.swp
.vscode/

